*{
    font-family: Ubuntu, Helvetica, sans-serif;
    color: #c7c7c7;
}
table.head, table.foot {
    width: 100%;
}
td.head-rtitle, td.foot-os {
    text-align: right;
}
td.head-vol {
    text-align: center;
}
.Nd, .Bf, .Op {
    display: inline;
}
.Pa, .Ad {
    font-style: italic;
}
.Ms {
    font-weight: bold;
}
.Bl-diag > dt {
    font-weight: bold;
}
code.Nm, .Fl, .Cm, .Ic, code.In, .Fd, .Fn, .Cd {
    font-weight: bold;
    font-family: inherit;
}
code, pre {
    font-family: Ubuntu Mono, Monospaced, serif!important;
}
i, em {
    color: #7f7f7f;
}
dt, b, strong {
    color: #f0f0f0;
}
hr {
    color: #363636;
    margin-top: 0;
}
.flexy {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
body, html {
    background-color: #1f1e23;
    color: #c7c7c7;
}
h1, h2, h3, h4, h5, h6 {
    color: #8d53a6;
}
.section {
    padding: 2px 10px;
}
p, dt {
    margin: 2px 10px;
}
a {
    color: #ff7597;
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
    text-weight: bold;
}
input, textarea {
    background-color: #343434;
    border: 1px solid #c7c7c7;
    padding: 4px;
    border-radius: 5px;
    margin: 2px;
}

input[type="text"], textarea {
    height: inherit;
    width: 300px;
}

input[type="submit"] {
    background-color: #343434;
    font-weight: bold;
    cursor: pointer;
}